<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>SpeedTracker</title>
</head>
<body>
    <h1>SpeedTracker</h1>

    <table>
        <thead>
            <tr>
                <th>Driver</th>
                <th>Car</th>
                <th>Start Time</th>
                <th>Finish Time</th>
                <th>Highest Speed</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: fill this in with data from the database -->
        </tbody>
    </table>
</body>
</html>
