<!doctype html>
<html>
<head>
    <title>Driver Registration</title>
</head>
<body>
    <h1>Driver Registration</h1>
    <form method="post" action="/register">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="car_make">Car Make:</label>
        <input type="text" id="car_make" name="car_make"><br>
        <label for="car_model">Car Model:</label>
        <input type="text" id="car_model" name="car_model"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
